/*Palette UID: 12R0u0k7sKC12ZA3NTLbPzvgRs2*/
body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("http://previews.123rf.com/images/alexoakenman/alexoakenman1408/alexoakenman140800048/30895117-Vector-airport-concept-with-aircraft-luggage-transporter-buildings-and-runway-Stock-Vector.jpg");
  background-color: hsl(182, 100%, 38%);
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
}
form {
  padding: 3%;
  background-color: white;
  outline: hsl(290, 6%, 18%) solid 2px;
}
.buttons {
  margin-top: 10%;
}
.max {
  max-width: 500px;
}
.box {
  padding: 3%;
  background-color: white;
  outline: hsl(290, 6%, 18%) solid 2px;
}
.navbar {
  background-color: hsl(290, 6%, 18%);
  color: hsl(47, 91%, 78%);
  outline-color: hsl(290, 6%, 18%)
}
.input {
  background-color: hsl(180, 100%, 100%);
  color: hsl(187, 49%, 18%);
}
.input-group-addon {
  background-color: hsl(17, 49%, 92%);
  color: hsl(288, 6%, 16%);
}
.submit {
  width: 50%;
  margin-top: 5%;
  background-color: hsl(28, 100%, 51%);
  color: hsl(18, 50%, 92%);
}
.flame {
  width: 5%;
}
.chart div {
  font: 10px sans-serif;
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.drive {
  width: 100px;
  height: 2.75em;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lyft {
  background-color: hsla(315, 65%, 50%, 1);
  color: white;
}
.uber {
  background-color: black;
  color: hsla(189, 65%, 48%, 1);
}
